/* Admin CSS */
/* Placeholder */
::placeholder{text-transform:none;font-size:14px;}
::-webkit-input-placeholder{/* Chrome/Opera/Safari */
 text-transform:none;font-size:14px;}
::-moz-placeholder{/* Firefox 19+ */
 text-transform:none;font-size:14px;}
:-ms-input-placeholder{/* IE 10+ */
 text-transform:none;font-size:14px;}
:-moz-placeholder{/* Firefox 18- */
 text-transform:none;font-size:14px;}
/* Category */
.name-category{text-transform:capitalize;}
/* Slider */
.alert-danger{margin-top:10px;padding:3px 5px;}
.slider-image-thumb{width:100%;height:100px;object-fit:cover;}
/* Product gallery */
.box-gallery{margin-top:20px;display: grid;grid-template-columns: repeat(4,minmax(0,1fr));gap: 5px;} 
.box-gallery-item{border: solid 1px #ccc;}
/* Publisher */
.publisher-image-thumb{width:50px;height:50px;object-fit:cover;}
/* News */
.news-image-thumb{width:100px;height:100px;object-fit:cover;}
/* Product */
.adm-product-img{max-width:72px;max-height:87px;} 
.card-footer.sticky-top{background-color:rgb(236,238,241);position:sticky;top:0px;z-index:11;}
.note-editable{height:220px !important;}
/* Preview Img */
/* Photo upload zone */
.photoUpload-zone .photoUpload-detail{text-align:center;display:block;margin-bottom:1.5rem;position:relative;}
.photoUpload-zone .photoUpload-detail img{max-width:100%;max-height:250px;}
.photoUpload-zone .photoUpload-file{cursor:pointer;background-color:#F5F5F5;outline:2px dashed #CDCDCD;outline-offset:0px;padding:10px;margin-bottom:1rem;border-radius:0.25rem;font-weight:normal!important;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;flex-direction:column;align-items:center;justify-content:center;-webkit-transition:outline-offset .15s ease-in-out,background-color .15s linear;transition:outline-offset .15s ease-in-out,background-color .15s linear;}
.photoUpload-zone .photoUpload-file.drag-over{outline-offset:-10px;background-color:#fff9f9;}
.photoUpload-zone .photoUpload-file input{display:none;}
.photoUpload-zone .photoUpload-file i:hover{opacity:0.9;}
.photoUpload-zone .photoUpload-file i{color:#6C7D8F;font-size:35px;margin-bottom:0.75rem;}
.photoUpload-zone .photoUpload-file p{margin:0;color:#767978;font-size:16px;}
.photoUpload-zone .photoUpload-file .photoUpload-drop{margin-bottom:0.5rem;font-size:12px;}
.photoUpload-zone .photoUpload-file .photoUpload-or{font-size:12px;margin-bottom:0.75rem;}
.photoUpload-zone .photoUpload-file .photoUpload-choose{color:#fff;background:#dcb114;}
.photoUpload-zone .photoUpload-dimension{font-weight:700;font-size:10px;text-align:center;}
/* BreadCrumb */
.breadcrumb-item-none .breadcrumb-item+.breadcrumb-item::before{display:none;}
.breadcrumb-item-none .breadcrumb-item+.breadcrumb-item{padding-left:5px;}
/* Admin Select option */
.select2-container--default .select2-dropdown .select2-search__field:focus,.select2-container--default .select2-search--inline .select2-search__field:focus{border:unset;}
/* Admin Setting */
.favicon-setting{width:45px;height:45px;object-fit:cover;}
.logo-setting{width:120px;height:120px;object-fit:cover;}
/* Adm Category Select */
.select-category-parent option{text-transform:capitalize;}
