/*.stars {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row-reverse;
}*/

.horizontal-bar {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
  background-color: rgb(205, 205, 205);
  padding: 0 10px;
  box-sizing: border-box;
}
.image-container img {
  height: 40px; /* Chiều cao của hình ảnh */
  margin-right: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}
.image-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white; /* Màu của văn bản */
  font-size: 16px; /* Kích thước chữ */
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.stars_static {
  content: '\f005';
  color: #FD4;
  font-size: 48px;
}

input.star {
  display: none;
}

label.star {
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
  cursor: pointer;
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

input.star:checked ~ label.star:before,
input.star:hover ~ label.star:before {
  content: '\f005';
  color: #FD4;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 3em;
  color: transparent;
  cursor: pointer;
  border: 2px solid #ddd;
  padding: 0;
}

.rating > label::before {
  content: "★";
  position: absolute;
  top: 0;
  left: 0;
  color: #ddd;
}

.rating > input:checked ~ label,
.rating > input:hover ~ label,
.rating > input:hover ~ input ~ label {
  color: #f5b301;
  border-color: #f5b301;
}

.rating > input:checked ~ label::before,
.rating > input:hover ~ label::before,
.rating > input:hover ~ input ~ label::before {
  color: #f5b301;
}

    /* CSS for the popup container */
    .popup-container {
      display: none;
      /* Initially hidden */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      /* Semi-transparent black background */
      z-index: 9999;
      /* Ensure popup is on top */
  }

  /* CSS for the popup content */
  .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  /* Close button style */
  .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
  }

  /* Optional: Button style to trigger the popup */