/*Hiệu ứng menu*/
.centery, .centery-after:after, .centery-before:before { -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.ease-in-200{-webkit-transition: all 500ms ease-in; -moz-transition: all 500ms ease-in; -ms-transition: all 500ms ease-in; -o-transition: all 500ms ease-in; transition: all 500ms ease-in;}
@-webkit-keyframes slideInDown1 {
0%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0);visibility:visible}
100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slideInDown1 {
0%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0);visibility:visible}
100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.slideInDown1{-webkit-animation-name:slideInDown1;animation-name:slideInDown1}
/**/
.fixed { position:fixed !important;left:0;right:0;top:0; z-index:999;animation: slideInDown1 1s 0s; }
/*Hieu ung*/
.hvr-float-shadow{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px transparent;position:relative;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;transition-property:transform}
.hvr-float-shadow:before{pointer-events:none;position:absolute;z-index:-1;content:'';top:100%;left:5%;height:10px;width:90%;opacity:0;background:-webkit-radial-gradient(center,ellipse,rgba(0,0,0,.35) 0,transparent 80%);background:radial-gradient(ellipse at center,rgba(0,0,0,.35) 0,transparent 80%);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform,opacity;transition-property:transform,opacity}
.hvr-float-shadow:active,.hvr-float-shadow:focus,.hvr-float-shadow:hover{-webkit-transform:translateY(-5px);transform:translateY(-5px)}
.hvr-float-shadow:active:before,.hvr-float-shadow:focus:before,.hvr-float-shadow:hover:before{opacity:1;-webkit-transform:translateY(5px);transform:translateY(5px)}

.hvr-sweep-to-top { display:inline-block; vertical-align:middle; -webkit-transform:perspective(1px) translateZ(0); transform:perspective(1px) translateZ(0); box-shadow:0 0 1px transparent; position:relative; -webkit-transition-property:color; transition-property:color; -webkit-transition-duration:.3s; transition-duration:.3s}
.hvr-sweep-to-top:before { content:""; position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; background:#3a0304; -webkit-transform:scaleY(0); transform:scaleY(0); -webkit-transform-origin:50% 100%; transform-origin:50% 100%; -webkit-transition-property:transform; transition-property:transform; -webkit-transition-duration:.3s; transition-duration:.3s; -webkit-transition-timing-function:ease-out; transition-timing-function:ease-out}
.hvr-sweep-to-top:active,.hvr-sweep-to-top:focus,.hvr-sweep-to-top:hover { color:#fff}
.hvr-sweep-to-top:active:before,.hvr-sweep-to-top:focus:before,.hvr-sweep-to-top:hover:before { -webkit-transform:scaleY(1); transform:scaleY(1)}
.hvr-sweep-to-right { display:inline-block; vertical-align:middle; -webkit-transform:perspective(1px) translateZ(0); transform:perspective(1px) translateZ(0); box-shadow:0 0 1px transparent; position:relative; -webkit-transition-property:color; transition-property:color; -webkit-transition-duration:.3s; transition-duration:.3s}
.hvr-sweep-to-right:before { content:""; position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; background:#d00000; -webkit-transform:scaleX(0); transform:scaleX(0); -webkit-transform-origin:0 50%; transform-origin:0 50%; -webkit-transition-property:transform; transition-property:transform; -webkit-transition-duration:.3s; transition-duration:.3s; -webkit-transition-timing-function:ease-out; transition-timing-function:ease-out}
.hvr-sweep-to-right:active,.hvr-sweep-to-right:focus,.hvr-sweep-to-right:hover { color:#fff}
.hvr-sweep-to-right:active:before,.hvr-sweep-to-right:focus:before,.hvr-sweep-to-right:hover:before { -webkit-transform:scaleX(1); transform:scaleX(1)}
.box{ position:relative;  transition:0.5s;  -webkit-transition:0.5s}
.box::before, .box::after{ width:100%;  height:100%;  z-index:1;  content:'';  position:absolute;  top:0;  left:0;  box-sizing:border-box;  -webkit-transform:scale(0);  transition:0.5s}
.foo::before{ border-bottom:3px solid #e00c09;  border-left:3px solid #e00c09;  -webkit-transform-origin:0 100%}
.foo::after{ border-top:3px solid #e00c09;  border-right:3px solid #e00c09;  -webkit-transform-origin:100% 0%}
.box:hover::after, .box:hover::before{ -webkit-transform:scale(1)}

.hover_sang2{position:relative; overflow:hidden;}
.hover_sang2:before{position: absolute;top: 0;left: -85%;z-index: 10;display: block;content: '';width: 50%;height: 100%;background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);-webkit-transform: skewX(-25deg);transform: skewX(-25deg);}
.hover_sang2:hover:before {transition: 1s;left: 100%;}
.hover_sang{ display: block; position: relative; overflow: hidden;}
.hover_sang:hover:before {left: 0;top: 0;}
.hover_sang:before {left: -100%;top: -100%;}
.hover_sang:after {bottom: -100%;right: -100%;}
.hover_sang:before, .hover_sang:after {display: block;}
.hover_sang:before, .hover_sang:after {background: rgba(255,255,255,0.3) none repeat scroll 0 0;content: "";height: 100%;position: absolute;-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;width: 100%;z-index: 8;}
.hover_sang:hover img {-webkit-transform: scale(1.2,1.2);-moz-transform: scale(1.2,1.2);-o-transform: scale(1.2,1.2);-ms-transform: scale(1.2,1.2); transform: scale(1.2,1.2);}
.hover_sang img {transition: 0.7s;}
.hover_sang:hover:after {right: 0;bottom: 0;}

.hover_xam { position:relative; overflow:hidden; }
.hover_xam::before { content:""; background:rgba(255, 255, 255, .5); bottom:0; left:0; position:absolute; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); -khtml-opacity:1; -o-opacity:1; -ms-opacity:1; -webkit-opacity:1; -moz-opacity:1; opacity:1; width:0; height:0; z-index:2; }.hover_xam::after { content:""; background:rgba(255, 255, 255, .5); top:0; right:0; position:absolute; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); -khtml-opacity:1; -o-opacity:1; -ms-opacity:1; -webkit-opacity:1; -moz-opacity:1; opacity:1; width:0; height:0; z-index:2; }.hover_xam:hover::before, .hover_xam:hover::after { -webkit-transform:rotateY(180deg); -moz-transform:rotateY(180deg); -ms-transform:rotateY(180deg); -o-transform:rotateY(180deg); transform:rotateY(180deg); -webkit-transition-duration:1.3s; -moz-transition-duration:1.3s; -ms-transition-duration:1.3s; -o-transition-duration:1.3s; transition-duration:1.3s; -khtml-opacity:0; -o-opacity:0; -ms-opacity:0; -webkit-opacity:0; -moz-opacity:0; opacity:0; height:100%; width:100%; }
/*Xoay*/
.dichvu__item:hover .dichvu__img {
    transform: rotateY(360deg);
    transition: all 0.6s linear;
}
/*Phone anima*/
.animate__animated.animate__infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animate__tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}
.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*Nhấp nháy*/
.blink_me { -webkit-animation-name: blinker; -webkit-animation-duration: 1s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; -moz-animation-name: blinker; -moz-animation-duration: 1s; -moz-animation-timing-function: linear; -moz-animation-iteration-count: infinite; animation-name: blinker; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite; }  @-moz-keyframes blinker {  0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }  @-webkit-keyframes blinker {  0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }  @keyframes blinker {  0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } } 

.hdanhmucdrops{position:relative;width:270px;z-index:19; background-color:#fff; }
.hdanhmucdrops > .nicescl{display:none;top:100%;position: relative;}
/* .fixed .hdanhmucdrops > .nicescl, .hdanhmucdrops.ver1 > .nicescl{display:none;top:100%}
.fixed .hdanhmucdrops:hover .nicescl{display: block;} */
.hdanhmucdrops .title{ display: block;line-height: 46px; height:100%;cursor:pointer;font-size:16px;text-transform:uppercase;text-align:center;color: #fff;font-family: 'RobotoBold';}
.click-icon-menu{height: 100%;margin-bottom: 0px;}
.click-icon-menu > span i{position: unset;}

.click-icon-menu span{background-color: #f08e03;  height: 100%;width: 100%; padding:3px 10px;}
.click-icon-menu span i{margin-right: 10px;position: relative;color: #fff;}
.hdanhmucdrops ul{padding:0;margin:0;list-style:none;text-align:left;background-color:#ff9907;}
.hdanhmucdrops ul > li{padding:0 0% 0% 8%;}
.hdanhmucdrops ul > li.line{border-bottom: solid 1px #ffb852; width: 100%; margin: 0 auto;}
.hdanhmucdrops .nicescl{position:absolute;box-sizing:border-box;width:100%;left:0;top:100%}
.hdanhmucdrops ul.content{overflow:auto;font-size:14px; }
.hdanhmucdrops li a{display:inline-flex;align-items: center; width: 100%;position: relative; padding:12px 0px ; font-size: 14px; color: #1a1a1a;  text-transform: capitalize;}
/* .hdanhmucdrops li a img{margin-right: 10px;} */
.hdanhmucdrops ul ul{-webkit-transform:scaleX(0);transform:scaleX(0);width:100%;display:none;position:absolute;left:calc(100% - 7px);left:-moz-calc(100% - 7px);left:-webkit-calc(100% - 7px); z-index: 9999;}
.hdanhmucdrops ul ul li { position: relative;border-bottom: dashed 1px #ffb852;}
.hdanhmucdrops ul > li:hover > ul{display:block;-webkit-animation:scale-up-hor-left .4s cubic-bezier(0.390,0.575,0.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(0.390,0.575,0.565,1.000) both}
.hdanhmucdrops ul > li:last-child{border-bottom:none}
.hdanhmucdrops ul ul ul{left:100%;top:0!important}
.hdanhmucdrops i.right { position: absolute;  right: 13px; font-size: 16px;}
.hdanhmucdrops i.left { font-size: 6px; margin-right: 10px;}
.hdanhmucdrops li:hover > a{color: #fbbc00;}
.hdanhmucdrops .fa-angle-right:before{font-size: 15px;}


/**/
.hdanhmucdropsjs{position:relative;width:270px;z-index:19; background-color:#ff9907;}
.hdanhmucdropsjs ul{padding:0;margin:0;list-style:none;text-align:left;background-color:#ff9907;}
.hdanhmucdropsjs ul > li{padding:0 0% 0% 8%;}
.hdanhmucdropsjs ul > li.line{border-bottom: solid 1px #ffb852; width: 100%; margin: 0 auto;}
.hdanhmucdropsjs .nicescl{position:absolute;box-sizing:border-box;width:100%;left:0;top:0%}
.hdanhmucdropsjs ul.content{overflow:auto;font-size:14px; }
.hdanhmucdropsjs li a{display:inline-flex;align-items: center; width: 100%;position: relative; padding:12px 0px ; font-size: 14px; color: #1a1a1a;  text-transform: capitalize;}
/* .hdanhmucdropsjs li a img{margin-right: 10px;} */
.hdanhmucdropsjs ul ul{-webkit-transform:scaleX(0);transform:scaleX(0);width:100%;display:none;position:absolute;left:calc(100% - 7px);left:-moz-calc(100% - 7px);left:-webkit-calc(100% - 7px); z-index: 9999;}
.hdanhmucdropsjs ul ul li { position: relative;border-bottom: dashed 1px #ffb852;}
.hdanhmucdropsjs ul > li:hover > ul{display:block;-webkit-animation:scale-up-hor-left .4s cubic-bezier(0.390,0.575,0.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(0.390,0.575,0.565,1.000) both}
.hdanhmucdropsjs ul > li:last-child{border-bottom:none}
.hdanhmucdropsjs ul ul ul{left:100%;top:0!important}
.hdanhmucdropsjs i.right { position: absolute;  right: 13px; font-size: 16px;}
.hdanhmucdropsjs i.left { font-size: 6px; margin-right: 10px;}
.hdanhmucdropsjs li:hover > a{color: #fbbc00;}
.hdanhmucdropsjs .fa-angle-right:before{font-size: 15px;}

@-webkit-keyframes scale-up-hor-left {
    0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;transform-origin:0 0}
    100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}
    }

/* width */
.hdanhmucdrops ::-webkit-scrollbar, .hdanhmucdropsjs ::-webkit-scrollbar { width: 1px;}
/* Track */
.hdanhmucdrops ::-webkit-scrollbar-track, .hdanhmucdropsjs ::-webkit-scrollbar-track { background: #e80c0c; }
/* Handle */
.hdanhmucdrops ::-webkit-scrollbar-thumb, .hdanhmucdropsjs ::-webkit-scrollbar-thumb {background: #e80c0c; }
/* Handle on hover */
.hdanhmucdrops ::-webkit-scrollbar-thumb:hover, .hdanhmucdropsjs ::-webkit-scrollbar-thumb:hover {background: #ccc;}
/* Chữ rung */
@keyframes bounceIn { 
    0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 
    0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); } 
    20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); } 
    40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); } 
    60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
    80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); } 
    100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } 
}
.bounceIn { -webkit-animation-name: bounceIn; animation-name: bounceIn; } 

@keyframes bounceInDown { 
    0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 
    0% { opacity: 0; -webkit-transform: translate3d(0, -3000px, 0); transform: translate3d(0, -3000px, 0); } 
    60% { opacity: 1; -webkit-transform: translate3d(0, 25px, 0); transform: translate3d(0, 25px, 0); } 
    75% { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); } 
    90% { -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); } 
    100% { -webkit-transform: none; transform: none; } 
}
.bounceOut { -webkit-animation-name: bounceOut; animation-name: bounceOut; }